

	/* @import url('https://fonts.googleapis.com/css?family=Pacifico'); */
	@import url('https://fonts.googleapis.com/icon?family=Material+Icons');


/*	Palette de couleurs  --------------	*/


	:root {

		--black-transparent-dark: rgba(0, 0, 0, .5);
		--black-transparent: rgba(0, 0, 0, .2);
		--black-is-all: #000000;
		--black: #212529;
		--grey-lighter: #f8f9fa;
	 	--grey: #adb5bd;
		--grey-light: #ced4da;
		--grey-medium: #868e96;
		--grey-dark: #495057;
		--red: #fa5252;
		--red-dark: #c92a2a;
		--blue: #228be6;
		--blue-dark: #1864ab;
		--green: #37b24d;
		--green-dark: #2b8a3e;
		--orange: #fd7e14;
		--white: #FFFFFF;
		--white-transparent: rgba(255, 255, 255, .9);

		--box-shadow-large: 0 0 35px rgba(0,0,0,.5);
		--box-shadow-thin: 0 0 5px rgba(0,0,0,.1);

		--border-radius: 3px;

	}


/*	Themes blanc et noir  -------------	*/


	body {
		--background-color:		var(--grey-lighter);
		--overlay-color:		var(--white);
		--slate-background: 	var(--black);
		--topbar-background:	var(--white-transparent);
		--topbar-border-color:	var(--grey-light);

		--text-color: 			var(--grey-dark);
		--text-hover-color: 	var(--black);
		--text-sub-color:		var(--grey);

		--title-color: 			var(--black);
		--title-border-color:	var(--white);
		--title-outline-color:	var(--grey);
		--title-hover-color: 	var(--black);

		--header-links-color: 	var(--grey-medium);
		--header-dot-color: 	var(--grey-dark);

		--button-background:	var(--white);
		--button-border-color:	var(--grey-light);
		--button-text-color:	var(--text-color);

		--count-background:		var(--grey-lighter);
		--count-border-color:	var(--grey-light);
		--count-text-color: 	var(--grey-dark);

		--switch-background: 	var(--grey-light);
		--switch-border-color: 	var(--grey-medium);
		--switch-button-color: 	var(--grey-lighter);
		--switch-active-button-color: 	var(--white);
		--switch-active-button-border-color: 	var(--grey-dark);

		--item-border-color:				var(--grey-light);
		--item-hover-border-color:			var(--grey-light);
		--item-hover-background-color:		var(--white);

		--images-border-color: 				var(--grey-light);

		-webkit-tap-highlight-color: rgba(0,0,0,0);

	}
	body.dark {

		--background-color:		var(--black) url('https://libraries.huguesbutet.fr/stripe_white.png') top left repeat;
		--overlay-color:		var(--black-is-all);
		--slate-background: 	var(--black);
		--topbar-background:	var(--black-transparent);
		--topbar-border-color:	var(--black-is-all);

		--text-color: 			var(--grey-medium);
		--text-hover-color: 	var(--grey-light);
		--text-sub-color:		var(--grey-dark);

		--title-color: 			var(--grey-light);
		--title-border-color:	var(--black-is-all);
		--title-outline-color:	var(--black-transparent-dark);
		--title-hover-color: 	var(--white);

		--header-dot-color: 	var(--grey-dark);

		--button-background:	var(--black-transparent);
		--button-border-color:	var(--black-transparent-dark);
		--button-text-color:	var(--grey-medium);

		--count-background:		var(--black-transparent);
		--count-border-color:	var(--black-transparent-dark);
		--count-text-color: 	var(--grey-light);

		--item-border-color:				var(--black-transparent);
		--item-hover-border-color:			var(--black-is-all);
		--item-hover-background-color:		var(--black-transparent);

		--switch-background: 	var(--grey-dark);
		--switch-border-color: 	var(--grey-dark);
		--switch-button-color: 	var(--grey-light);
		--switch-active-button-color: 	var(--grey-light);
		--switch-active-button-border-color: 	var(--grey-dark);

		--images-border-color: 	var(--white);

	}


/*	Nettoyage  ------------------------ */

	* { box-sizing: border-box; }
	a,
	a:hover,
	a:active,
	a:focus,
	button:active,
	button,
	:focus {
		outline: 0;
		text-decoration: none;
	}
	a:hover,
	a.active {
		color: var(--text-hover-color);
	}
	input[type="search"],
	input[type="text"],
	input[type="button"],
	input[type="submit"],
	input:checked,
	select,
	select::-moz-focus-inner,
	select:focus {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		outline: 0;
		display: inline-block;
		height: 34px;
		line-height: 1.4;
		background: var(--button-background);
		border: 1px solid var(--button-border-color);
		border-radius: var(--border-radius);
		-webkit-border-radius:var(--border-radius);
		box-shadow: var(--box-shadow-thin);
		padding: 0 10px;
		color: var(--text-color);
		text-transform: none;
		/* font-size: 1em; */
		vertical-align: middle;
		cursor: pointer;
	}
	select {
		-webkit-touch-callout:normal;
		-webkit-user-select: normal;
		-moz-user-select: normal;
		-ms-user-select: normal;
		user-select: normal;
		padding-left: 6px;
	}
	input.black,
	select.black {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		outline: 0;
		background: var(--black-transparent);
		border: 1px solid var(--black-transparent-dark);
		border-radius: var(--border-radius);
		box-shadow: var(--box-shadow-thin);
		padding: 0 10px;
		color: var(--grey-light);
		width: 65%;
		margin-bottom: 10px;
		height: 34px;
	}
	::-webkit-input-placeholder { color: var(--grey-medium); }
	::-moz-placeholder { color: var(--grey-medium); opacity: .94; }
	:-ms-input-placeholder { color: var(--grey-medium); }
	:-moz-placeholder { color: var(--grey-medium); }

/*	Structure principale  ------------- */


	html {
		font-weight: 400;
		font-size: 1em;
		font-family: 'Open Sans', sans-serif;
		line-height: 2em;
		-webkit-text-size-adjust: none;
	}
	body {
		color: var(--text-color);
		background: var(--background-color);
		margin: 0;
		min-height: 900px;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	header {
		position: fixed;
		display: flex;
		top: 0;
		left: 0;
		width: 100%;
		height: 70px;
		font-size: .9em;
		line-height: 70px;
		padding: 0 30px;
		background-color: var(--topbar-background);
		border-bottom: 1px solid var(--item-border-color);
		box-shadow: var(--box-shadow-thin);
		z-index: 9990;
	}
	header a {
		vertical-align: middle;
		line-height: 70px;
	}
	header a:not(.logo):after  {
		content: '•';
		color: var(--header-dot-color);
		font-size: 85%;
		padding: 0 8px 0 14px;
	}
	header a:last-of-type {
		position: relative;
		top: -1px;
		content: '';
		padding: 0 5px 0 14px;
	}
	header a:last-of-type:after {
		content: '';
		padding: 0 5px 0 14px;
	}
	header a i { display: block;line-height: 70px;vertical-align: middle; }
	header .switch { margin-left: auto;}
	.wrapper {
		margin: 0 auto;
		padding: 130px 40px 100px 40px;
		max-width: 900px;
	}
	nav {
		margin-bottom: 40px;
		padding-left: 10px;
		min-height: 40px;
		max-width: 85%;
		display: block;
	}
	section { }


/*	Entete du site  ------------------- */


	.logo {
		position: relative;
		top: -1px;
		font-weight: 700;
		font-size: 1.12em;
		letter-spacing: -1px;
		color: var(--title-color);
		margin-left: 8px;
		margin-right: 17px;
	}
	.logo:hover {
		color: var(--title-hover-color);
	}
	.logo i {
		display: none;
		margin-left: 8px;
	}
	.logo span {
		vertical-align: middle;
		padding-left: 10px;
		padding-right: 20px;
	}
	header a:not(.logo) i {
		color: var(--header-links-color);
		margin-right: auto;
	}
	header a:not(.logo) {
		color: var(--header-links-color);
		text-transform: uppercase;
		font-size: .82em;
		padding: 0 0 0 5px;
	}
	header a:not(.logo):hover,
	header a:not(.logo):hover i,
	header a:not(.logo).active,
	header a:not(.logo).active i {
		color: var(--text-hover-color);
	}
	header .loader {
		margin-left: 10px;
		top: 26px;
	}


/*	navigations  ---------------------- */


	nav:first-of-type {
		position: relative;
		top: -50px;
		opacity: 0;
		transition: top 250ms ease-out, opacity 250ms ease-out;
	}
	nav + nav {
		margin-top: -80px;
		transition: margin-top 250ms ease-out;
	}
	nav:first-of-type.active {
		top: 0px;
		opacity: 1;
	}
	nav:first-of-type.active + nav {
		margin-top: -25px;
	}
	nav:first-of-type i {
		position: relative;
		top: 8px;
		right: 35px;
		opacity: .5;
	}
	nav input {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		outline: 0;
		position: relative;
		width: 450px;
		height: 40px;
		padding: 0 10px;
		background: var(--button-background);
		border: 1px solid var(--button-border-color);
		border-radius: var(--border-radius);
		-webkit-border-radius:var(--border-radius);
		box-shadow: var(--box-shadow-thin);
		visibility: hidden;
	}
	nav.active input { visibility: visible; }

/*	Section en liste  ----------------- */


	section li {
		list-style: none;
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: flex-start;
		height: 50px;
		padding: 0 10px;
		border-top: 1px dashed transparent;
		border-right: 1px dashed transparent;
		border-left: 1px dashed transparent;
		border-bottom: 1px dashed var(--item-border-color);
		vertical-align: middle;
		font-size: .872em;
		line-height: 46px;
	}
	section li img {
		/* display: inline-block; */
		align-self: center;
		/* position: relative; */
		/* left: -15px; */
		/* top: 12px; */
		width: 24px;
		height: 24px;
		margin-right: 15px;
		border: 1px solid var(--images-border-color);
		background: va(--white);
		border-radius: var(--border-radius);
		padding: 4px;
	}
	body.dark section li img {
		-webkit-filter: invert(1);
   		filter: invert(1);
		background: var(--white);
	}
	body.dark section li:hover img {
		opacity: 1;
	}
	section li:hover {
	  background-color: var(--item-hover-background-color);
	  border-color: var(--item-hover-border-color);
	  border-top-color: var(--item-border-color);
	}
	section li:hover:not(:first-of-type) {
		border-top-color: transparent;
	}
	section li a {
		display: block;
		width: 80%;
		overflow: hidden;
    	white-space: nowrap;
  		text-overflow: ellipsis;
	}
	section li a:hover {
		color: var(--text-hover-color);
	}
	section li small:last-of-type {
		/* position: relative; */
		/* display: block; */
		overflow: hidden;
    	white-space: nowrap;
  		text-overflow: ellipsis;
		/* float: right; */
		text-align: right;
		margin-left: auto;
		cursor: default;
	}


/*	Typographie generale  ------------- */


	h1 {
		font-size: 160%;
		color: var(--black);
		letter-spacing: -1px;
	}
	code {
	  font-family: consolas,monospace;
	  font-size: 90%;
	}
	small {
		font-size: .9em;
		color: var(--text-sub-color);
	}
	a {
	  color: var(--text-color);
	}
	a:hover,
	a.active {
	  color: var(--black);
	}


/*	Boutons  -------------------------- */


	.button {
		display: inline-block;
		height: 30px;
		width: auto;
		line-height: 28px;
		color: var(--button-text-color);
		background: var(--button-background);
		border: 1px solid var(--button-border-color);
		border-radius: var(--border-radius);
		box-shadow: var(--box-shadow-thin);
		padding: 0 0 0 10px;
		margin: 0 10px 10px 0;
		font-size: .65em;
		font-weight: bold;
		text-transform: uppercase;
		vertical-align: middle;
		overflow: hidden;
		cursor: pointer;
	    transition: background-color 100ms linear,
					border-color 100ms linear,
					color 100ms linear;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	.button:hover {
		color: var(--text-hover-color);
	}
	.button.active {
		background-color: var(--red);
		background-image: url('https://libraries.huguesbutet.fr/stripe_black.png');
		border-color: var(--red-dark);
		color: var(--white);
		text-shadow: none;
	}
	.button.black,
	.button.blue,
	.button.red {
		background-image: url('https://libraries.huguesbutet.fr/stripe_black.png');
		color: var(--white);
		font-weight: bold;
		text-shadow: 0 0 1px #000;
	}
	.button.black {
		color: var(--grey);
		background: var(--black-transparent);
		border-color: var(--black-is-all);
	}
	.button.black.active {
		background: var(--black-transparent-dark) url('https://libraries.huguesbutet.fr/stripe_white.png');
		color: var(--white);
	}
	.button.blue {
		background-color: var(--blue);
		border-color: var(--blue-dark);
	}
	.button.red {
		background-color: var(--red);
		border-color: var(--red-dark);
	}
	.button:active {
		position: relative;
		top: 1px;
	}
	.buttongroup a.button { margin: 0 -4px 7px 0; border-radius: 0; border-right-width: 0;}
	.buttongroup a.button:first-of-type { border-radius: 4px 0 0 4px; }
	.buttongroup a.button:last-of-type { border-radius: 0 4px 4px 0; border-right-width: 1px;}

	.count {
		position: relative;
		float: right;
		margin: 0 0 0 10px;
		background: var(--count-background);
		border-left: 1px solid var(--count-border-color);
		color: var(--count-text-color);
		text-align: center;
		padding: 0 10px;
		transition: background-color 100ms linear,
					border-color 100ms linear,
					color 100ms linear;
	}
	.count:hover {}
	.button.active .count {
		background: rgba(0, 0, 0, .15);
		border: 1px solid var(--red-dark);
		color: var(--white);
	}


/*	Loader  --------------------------- */


	.loader {
		display: none;
		position: relative;
		border: 1px solid var(--grey);
		border-radius: 50%;
		border-top: 1px solid var(--black-is-all);
		width: 18px;
		height: 18px;
		-webkit-animation: spin 1s linear infinite;
		animation: spin 1s linear infinite;
	}
	.loader.active { display: block; }
	@-webkit-keyframes spin {
	  0% { -webkit-transform: rotate(0deg); }
	  100% { -webkit-transform: rotate(360deg); }
	}
	@keyframes spin {
	  0% { transform: rotate(0deg); }
	  100% { transform: rotate(360deg); }
	}


/*	Animation wiggle  ----------------- */

@keyframes flickerAnimation {
0%   { opacity:1; }
50%  { opacity:0.5; }
100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
0%   { opacity:1; }
50%  { opacity:0.5; }
100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
0%   { opacity:1; }
50%  { opacity:0.5; }
100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
0%   { opacity:1; }
50%  { opacity:0.5; }
100% { opacity:1; }
}
.animate-flicker {
-webkit-animation: flickerAnimation 500ms infinite;
-moz-animation: flickerAnimation 500ms infinite;
-o-animation: flickerAnimation 500ms infinite;
animation: flickerAnimation 500ms infinite;
}

	@-webkit-keyframes wiggle {
	    0% {-webkit-transform: rotateZ(0.2deg);}
	    50% {-webkit-transform: rotateZ(-0.2deg);}
	    100% {-webkit-transform: rotateZ(0.2deg);}
	}
	@-moz-keyframes wiggle {
	    0% {-moz-transform: rotateZ(0.2deg);}
	    50% {-moz-transform: rotateZ(-0.2deg);}
	    100% {-moz-transform: rotateZ(0.2deg);}
	}
	@-o-keyframes wiggle {
	    0% {-o-transform: rotateZ(0.2deg);}
	    50% {-o-transform: rotateZ(-0.2deg);}
	    100% {-o-transform: rotateZ(0.2deg);}
	}
	@keyframes wiggle {
	    0% {transform: rotateZ(0.2deg);}
	    50% {transform: rotateZ(-0.2deg);}
	    100% {transform: rotateZ(0.2deg);}
	}
	.wiggle {
		-webkit-animation: flickerAnimation 800ms infinite;
		-moz-animation: flickerAnimation 800ms infinite;
		-o-animation: flickerAnimation 800ms infinite;
		animation: flickerAnimation 800ms infinite;
	}


/*	Fenetres modales  ----------------- */


	.slate {
		position: fixed;
		z-index: 9999;
		top: 16%;
		left: 50%;
		padding: 24px 24px 20px 24px;
		margin-left: -300px;
		background: var(--slate-background) url('https://libraries.huguesbutet.fr/stripe_white.png') top left repeat;
		opacity:0;
		max-height: 60%;
		width: 600px;
		border: 1px solid var(--black);
		border-radius: var(--border-radius);
		box-shadow: var(--box-shadow-large);
		-webkit-transform: translateY(-700px);
		transform: translateY(-900px);
		transition: transform 500ms ease-in-out,
					opacity 400ms ease-in-out,
					-webkit-transform 500ms ease-in-out;
	}
	.slate .loader {
		position: static;
		float: right;
		margin-top: 4px;
		margin-right: 6px;
		border: 1px solid var(--black-is-all);
		border-radius: 50%;
		border-top: 1px solid var(--white);
	}
	.slate .notification {
		display: block;
		opacity: 0;
		position: absolute;
		top: 26px;
		right: 25px;
		border: 1px solid var(--black-is-all);
		border-radius: var(--border-radius);
		background: var(--green) url('https://libraries.huguesbutet.fr/stripe_black.png') top left repeat;
		color: var(--white);
		text-shadow: 0 0 1px #000;
		font-size: .8em;
		font-weight: bold;
		padding: 2px 10px 4px 10px;
		line-height: 1.4;
		-webkit-transition: opacity 150ms ease-out;
		-moz-transition: opacity 150ms ease-out;
  		-o-transition: opacity 150ms ease-out;
		transition: opacity 150ms ease-out;
	}
	.slate .notification.error {
		background: var(--red) url('https://libraries.huguesbutet.fr/stripe_black.png') top left repeat;
	}
	.slate .notification.warning {
		background: var(--orange)  url('https://libraries.huguesbutet.fr/stripe_black.png') top left repeat;
	}
	.slate .notification.active {
		opacity: 1;
	}
	.slate div.app {
		display: block;
		float: left;
		width: 30%;
		height: 110px;
		text-align: center;
		background: var(--black-transparent);
		margin-bottom: 12px;
		margin-left: 12px;
	}
	.slate div.app a {
		display: block;
		font-size: .75em;
		text-transform: uppercase;
		color: var(--text-sub-color);
		text-shadow: 0 0 2px #000;
		opacity: 1;
	}
	.slate div.app a i {
		display: block;
		margin: 0;
		padding: 20px 0 4px 0;
		color: var(--white);
		opacity: .9;
	}
	.slate div.app a:hover, .slate div.app a:hover i {
		color: var(--white);
		opacity: 1;

	}
	.slate div.app:nth-child(1) a i { color: var(--red); }
	.slate div.app:nth-child(2) a i { color: var(--white); }
	.slate div.app:nth-child(3) a i { color: var(--blue); }
	.slate div.app:nth-child(4) a i { color: var(--green); }
	.slate div.app:nth-child(5) a i { color: var(--grey-medium); }

	.slate span {
		display: none;
		border-top: 1px dashed var(--black);
		padding-bottom: 15px;
		padding-top: 25px;
		margin-top: 25px;
	}
	.slate span.active { display: block; }
	.slate a.button { padding-right: 10px; }
	.slate a.button.blue,
	.slate a.button.red {
		clear: both;
		margin-top: 10px;
	}
	.slate input, .slate select {
		display: block;
		width: 65%;
	}
	.slate select:-moz-focusring{color:transparent;text-shadow:0 0 0 #000;}
	.slate option:not(:checked),option:checked{color:#fff;}
	.slate:target {
		opacity:.92;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	.slate:target + #overlay,
	.slate:target + .slate + #overlay,
	.slate:target + .slate + .slate + #overlay,
	.slate:target + .slate + .slate + .slate + #overlay {
	  display: block;
	  pointer-events: auto;
	  opacity: 0.5;
	}
	#overlay {
	  position: fixed;
	  z-index: 9991;
	  height: 100vh;
	  width: 100vw;
	  background-color: var(--overlay-color);
	  opacity: 0;
	  cursor: default;
	  pointer-events: none;
	  transition: opacity 0.3s ease-in-out;
	}


/*	Switch  --------------------------- */


	.switch {
	  position: relative;
	  width: 60px;
	  height: 23px;
	}
	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}
	.switch .slider {
		position: absolute;
		cursor: pointer;
		top: 1px;
		left: 0;
		right: 0;
		bottom: 0;
		background: var(--switch-background) url('https://libraries.huguesbutet.fr/stripe_black.png') top left repeat;
		border: 1px solid var(--switch-border-color);
		-webkit-transition: background-color 350ms ease-out, border-color 350ms ease-out;
		-moz-transition: background-color 350ms ease-out, border-color 350ms ease-out;
  		-o-transition: background-color 350ms ease-out, border-color 350ms ease-out;
		transition: background-color 350ms ease-out, border-color 350ms ease-out;
		border-radius: 2px;
	}
	.switch .slider:before {
		position: absolute;
		content: "";
		height: 14px;
		width: 26px;
		top: 2px;
		left: 2px;
		bottom: 4px;
		background-color: var(--switch-button-color);
		border: 1px solid var(--switch-border-color);
		-webkit-transition: left 350ms ease-out, background-color 350ms ease-out, border-color 350ms ease-out;
		-moz-transition: left 350ms ease-out, background-color 350ms ease-out, border-color 350ms ease-out;
  		-o-transition: left 350ms ease-out, background-color 350ms ease-out, border-color 350ms ease-out;
		transition: left 350ms ease-out, background-color 350ms ease-out, border-color 350ms ease-out;
		border-radius: 1px;
	}
	.switch input:checked + .slider {
		background-color: var(--red);
	    border-color: var(--red-dark);
	}
	.switch input:checked + .slider:before {
		background-color: var(--switch-active-button-color);
		border-color: var(--switch-active-button-border-color);
		left: 28px;
	}


/*	Icones  -------------------------------- */


	.material-icons.md-18 { font-size: 18px;  }
	.material-icons.md-24 { font-size: 24px; }
	.material-icons.md-36 { font-size: 36px; }
	.material-icons.md-48 { font-size: 48px; }

	.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
	.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

	.material-icons.md-light { color: rgba(255, 255, 255, .5); }
	.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.55); }


/*	Utilitaires  --------------------------- */


	.hidden { display: none; }
	.right {
		position: relative;
		top: 50%;
		margin-top: -11px;
		margin-left: 20px;
		right: 5px;
		float: right;
	}
	.selectable {
		-webkit-user-select: auto;
		-moz-user-select: auto;
		-ms-user-select: auto;
		user-select: auto;
	}


/*	Adaptabilite du site  ------------- */


	@media (max-width: 960px) {
	    div.wrapper { padding: 130px 35px 30px 35px; }
		nav:first-of-type.active {
			top: 0px;
		}
		nav + nav { margin-top: -90px; }
		nav:first-of-type.active + nav {
			margin-top: -25px;
		}
	}
	@media (max-width: 740px) {
		header {
			height: 50px;
			line-height: 50px;
			padding: 0 10px;
		}
		header .logo { margin-top: 14px; }
		header .logo span { display: none; }
		header .logo i {
			display: unset;
		}
		div.wrapper { padding: 120px 20px; }
		header a { line-height: 50px; }
		header .switch { right: 15px; }
		header .loader { top: 16px; }
		.slate .loader { margin-top: 9px; }
		.slate .notification { margin-top: 0px; }
		nav { margin-bottom: 20px; max-width: 90%;}
		nav input { width: 90%;}
		nav + nav { margin-top: -70px; }
		nav:first-of-type.active {
			top: 0px;
		}
		nav:first-of-type.active + nav {
			margin-top: -5px;
		}
		section li small:last-of-type { display: none; }
		.slate {
			top: 0;
			left: 0;
			right: 0;
			width: 100%;
			margin-left: 0;
			max-height: 60%;
			border-radius: 0;
			border: none;
		}
	}


/*	Tests pas finis  ------------------ */


	.dropdown { position: relative; }
	:focus .dropdown_content, :active .dropdown_content {
		-webkit-transform: translate(0, 25px);
		transform: translate(0, 25px);
		opacity: 1;
		visibility: visible;
	}
	.dropdown_content {
		position: absolute;
		top: 15px;
		left: 0;
		margin: 0;
		padding: 5px;
		background: #FFFFFF;
		min-width: 200px;
		width: inherit;
		border-radius: 4px;
		box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
		text-align: left;
		opacity: 0;
		visibility: hidden;
		transition: 0.3s ease;
	}
	.dropdown_content:before {
		content: '';
		position: absolute;
		top: -6px;
		left: 20px;
		width: 0;
		height: 0;
		box-shadow: var(--box-shadow-thin);
		border-top: 6px solid #FFFFFF;
		border-right: 6px solid #FFFFFF;
		border-bottom: 6px solid transparent;
		border-left: 6px solid transparent;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		mix-blend-mode: multiple;
	}
	.dropdown_content li {
		position: relative;
		background: #FFFFFF;
		margin: 0;
	  	padding: 0 10px 0 10px;
		list-style: none;
		left: 0;
	}
	.dropdown_content li:first-of-type {}
	.dropdown_content li.active {}
	.dropdown_content li:first-child {
		border-radius: 4px 4px 0 0;
		padding-top: 10px;
	}
	.dropdown_content li:last-child {
		border-radius: 0 0 4px 4px;
		padding-bottom: 10px;
	}
	.dropdown_content li:last-child a {
		border-bottom: 0;
		z-index: 9999;
	}
	.dropdown_content a {
		display: block;
		border-bottom: 1px solid rgba(0, 0, 0, 0.05);
		padding: 0;
		font-size: 1em;
		text-decoration: none;
	}
	.dropdown_content a:hover {
		background: var(grey-light);
	}
